h1 {
    margin-top:0;
}

.table th {
    vertical-align: middle;
} 

.search {
    font-weight: normal;
}

th .add {
    margin-top:0;
}

.unlock {
    text-align: center;
    padding:50px;
}

.password {
    font-size: 1.1em;
    border-radius: 0.1em;
    margin-right:0.3em;
    padding: 0.3em;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.unlock .btn {
    margin:0;
}

.password:focus{
    outline: none;
}

.savepassword .password {
    display:block;
    margin-top: 1em;
    width: 60%;
}

.add {
    text-align: left;
}

table button {
    margin-top:0.2em;
    margin-bottom: 0;
}

th, td {
    width:20%;
    font-size:1.15em;
}

td.last {
    width:40%;
}

td span {
    display: inline-block;
    margin-top:1em;
}

.action {
    margin-top:1.5em;
}

.modal-body {
    overflow-y: hidden;
}

cds-icon {
    cursor: pointer;
}

td clr-password-container {
    margin-top:0;
}

.showhide {
    margin-left:0.7em;
}

.hidden {
    display: none;
}