<span class="spinner spinner-inline" *ngIf="loading">Loading...</span>
<app-alert-error [error]="error"></app-alert-error>

<div *ngIf="page" class="page">
    <app-vocabulary-exercise [train]="true" [page]="page" [cards]="train" *ngIf="train.length > 0" (finished)="exerciseResult = $event"></app-vocabulary-exercise>

    <app-alert-sticky message="successfully saved" *ngIf="successSave"></app-alert-sticky>

    <div class="top">
        <h1>{{page.title}}</h1>
        <div>
            <span *ngIf="successSave" class="success">successfully saved</span>
            <button class="btn btn-success-outline" (click)="exercise()">exercise</button>
            <button class="btn" (click)="save()" [ngClass]="{'btn-success': successSave, 'btn-primary': !successSave}">save</button>
        </div>
    </div>
    
    <div class="clr-row">
        <div class="clr-col-2">
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
        </div>
        <div class="clr-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="left"><span>German</span></th>
                        <th class="left">English</th>
                        <th class="left">Section</th>
                        <th class="left">Phase</th>
                        <th class="left">
                            <button type="button" class="btn btn-icon btn-sm btn-link" (click)="add()">
                                <cds-icon shape="add-text"></cds-icon> add
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of vocabulary">
                        <td><input type="text" [(ngModel)]="entry.german" #germanInput></td>
                        <td><input type="text" [(ngModel)]="entry.english"></td>
                        <td><input type="text" [(ngModel)]="entry.section" (keydown)="onSectionKeypress($event)"></td>
                        <td  class="left">
                            {{entry.g2ePhase}} &rarr;<br />
                            {{entry.e2gPhase}} &larr;
                        </td>
                        <td  class="left">
                            <audio #audio></audio>
                            <button type="button" class="btn btn-icon btn-sm btn-link btn-cell" (click)="audio.src=playUrl(entry.english);audio.play()">
                                <cds-icon shape="play"></cds-icon>
                            </button>
                            <button type="button" class="btn btn-icon btn-sm btn-link btn-cell" (click)="reset(entry)">
                                <cds-icon shape="refresh" direction="down"></cds-icon>
                            </button>
                            <button type="button" class="btn btn-icon btn-sm btn-link btn-cell" (click)="delete(entry)">
                                <cds-icon shape="trash"></cds-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>

<app-vocabulary-exercise-result [result]="exerciseResult" (finished)="exerciseResult = null"></app-vocabulary-exercise-result>