h1 {
    margin-top:0;
    margin-bottom:0.5em;
    margin-left:0;
}

.top {
    display:flex;
}

.top h1 {
    flex: 1;
}

input {
    font-size: 1.1em;
    border-radius: 0.1em;
    margin-right:0.3em;
    padding: 0.3em;
    vertical-align: middle;
    border: 1px solid #ddd;
    width: 100%;
}

.table th {
    vertical-align: middle;
} 

.search {
    font-weight: normal;
}

.add {
    margin-top:0;
    text-align: left;
}

.success {
    color:green;
    padding-right: 10px;
}

.add td {
    border-bottom:3px green solid !important;
}

input {
    border:0;
    margin:0;
    padding:0.7rem;
}

td {
    vertical-align: middle;
    padding:0;
}

th span {
    padding-left:0.5rem;
}

h1 {
    margin-bottom:0;
}

h4 {
    margin-bottom: 0.5rem;
}

.search {
    border-bottom:1px solid black;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-top:0.8rem;
}

.pagination td {
    background:white;
    border:1px solid #eee;
    padding:0.4rem 0.8rem 0.4rem 0.8rem;
    cursor: pointer;
}

.pagination td.selected {
    background:#eee;
}