<clr-tree>
    <clr-tree-node *clrRecursiveFor="let page of pages; getChildren: getChildren" 
                [clrExpandable]="page.children.length > 0"
                (clrExpandedChange)="toggle(page)"
                [clrExpanded]="page.expanded">
        <button [routerLink]="['page', page.id]" class="clr-treenode-link" [class.active]="page.id==active">
            <cds-icon [attr.shape]="page.icon" [title]="page.icon"></cds-icon> {{page.title}}
        </button>
    </clr-tree-node>
</clr-tree>