.top {
    display:flex;
}   

.dropdown-menu {
    top:auto;
    left:-133px;
}

input {
    margin-top:10px;
    margin-bottom:20px;
    margin-right:30px;
    font-size:1.5em;
    flex-grow: 1;
}

.selectIcon  {
    cursor: pointer;
    margin:2px;
}

.parent {
    margin-top:10px;
    margin-bottom:10px;
    border-radius: .125rem;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    padding:15px;
    display:inline-block;
}

.parent span {
    display:block;
    float:left;
    margin-right:10px;
}

.clr-form {
    padding-left:0;
}

.success {
    color:#2f8400;
}

.edit {
    position: relative;
}
