h1 {
    margin-top:0;
}

.unlock {
    text-align: center;
}

.password {
    display: inline-block;
}

.add {
    text-align: left;
}

table button {
    margin-top:3px;
    margin-bottom: 0;
}

td {
    width:20%;
}

td.last {
    width:40%;
}

.action {
    margin-top:20px;
}