<h1>Passwords</h1>
<span class="spinner spinner-inline" *ngIf="!page && !error">Loading...</span>
<app-alert-error [error]="error"></app-alert-error>

<div class="alert alert-success" role="alert" *ngIf="success">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">successfull saved</span>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Service</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries; let i = index">
            <td>
                <span *ngIf="!entry.edit">{{entry.service}}</span>
                <input *ngIf="entry.edit" type="text" [(ngModel)]="entry.service">
            </td>
            <td>
                <span *ngIf="!entry.edit">{{entry.username}}</span>
                <input *ngIf="entry.edit" type="text" [(ngModel)]="entry.username">
            </td>
            <td>
                <span *ngIf="!entry.edit">{{entry.passwordShow ? decryptPassword(entry.password) : '*********'}}</span>
                <clr-password-container *ngIf="entry.edit">
                    <input [type]="entry.passwordShow ? 'text' : 'password'" clrPassword [value]="decryptPassword(entry.password)" (input)="entry.password = encryptPassword($event.target.value)">
                </clr-password-container>
                
                <clr-icon class="showhide" shape="eye" size="20" (click)="entry.passwordShow = true" *ngIf="!entry.passwordShow && !entry.edit"></clr-icon>
                <clr-icon class="showhide" shape="eye-hide" size="20" (click)="entry.passwordShow = false" *ngIf="entry.passwordShow && !entry.edit"></clr-icon>
            </td>
            <td class="last">
                <button type="button" class="btn btn-icon btn-sm" (click)="random(i)" *ngIf="entry.edit"><clr-icon shape="wand"></clr-icon></button>
                <button type="button" class="btn btn-icon btn-sm btn-success" (click)="entry.edit=false" *ngIf="entry.edit"><clr-icon shape="check"></clr-icon></button>
                <button type="button" class="btn btn-icon btn-sm btn-danger" (click)="entryToDelete=i" *ngIf="entry.edit"><clr-icon shape="trash"></clr-icon></button>

                <button class="btn btn-icon btn-sm" (click)="entry.edit=true" *ngIf="!entry.edit"><clr-icon shape="pencil"></clr-icon> edit</button>
                <button class="btn btn-icon btn-sm btn-primary" (click)="clipboard(i)" *ngIf="!entry.edit"><clr-icon shape="copy-to-clipboard"></clr-icon> copy password</button>
            </td>
        </tr>
        <tr *ngIf="!entries && page">
            <td colspan="4" class="unlock">
                <clr-password-container class="password">
                    <input type="password" clrPassword placeholder="master password" #pass>
                </clr-password-container>

                <button class="btn btn-primary" (click)="unlock(pass.value);pass.value=''">unlock</button>
            </td>
        </tr>
        <tr *ngIf="entries">
            <td colspan="4" class="add">
                <button type="button" class="btn btn-icon btn-sm btn-link" (click)="add()">
                    <clr-icon shape="add"></clr-icon> add
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="action" *ngIf="entries && page">
    <button class="btn btn-primary" (click)="askPassword=true">save</button> 
    <button class="btn btn-link" [routerLink]="['/']">cancel</button>
</div>

<div class="modal" *ngIf="entryToDelete!==null">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-body">
                <p>Really delete {{entries[entryToDelete].service}}?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" (click)="entryToDelete=null">Cancel</button>
                <button class="btn btn-danger" type="button" (click)="delete(entryToDelete); entryToDelete = null;">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="askPassword">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Please enter your master password</h3>
            </div>
            <div class="modal-body">
                <app-alert-error [error]="pwerror"></app-alert-error>
                <clr-password-container>
                    <input type="password" clrPassword placeholder="master password" #password>
                </clr-password-container>
                <clr-password-container>
                    <input type="password" clrPassword placeholder="master password again" #password2>
                </clr-password-container>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" (click)="askPassword=false;password.value=''">Cancel</button>
                <button class="btn btn-danger" type="button" (click)="save(password.value, password2.value);password.value='';password2.value=''">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal-backdrop" aria-hidden="true" *ngIf="entryToDelete!==null || askPassword"></div>