.top {
    display:flex;
}   

.dropdown-menu {
    top:auto;
    left:-9.3em;
}

input {
    margin-top:0.5em;
    margin-bottom:1em;
    margin-right:1.4em;
    font-size:1.5em;
    flex-grow: 1;
}

.selectIcon  {
    cursor: pointer;
    margin:0.2em;
}

.parent {
    margin-top:1em;
    margin-bottom:1em;
    border-radius: .125rem;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    padding:1em;
    display:inline-block;
}

.parent span {
    display:block;
    float:left;
    margin-right:10px;
}

.clr-form {
    padding-left:0;
}

.success {
    color:#2f8400;
}

.edit {
    position: relative;
}
