.action {
    width:100%;
    float: left;
    text-align: center;
}

.word {
    width:100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding:5rem;
}

audio {
    display: none;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header button {
    margin-left:0.5rem;
}

.phase {
    padding-right:1rem;
}