<h1>Files</h1>
<span class="spinner spinner-inline" *ngIf="!files$">Loading...</span>
<app-alert-error [error]="error"></app-alert-error>
<file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" customstyle="filedrop" (click)="addFiles.click()"></file-drop>
<div class="progress loop" *ngIf="uploading"><progress></progress></div>

<table class="table" *ngIf="files$">
  <thead>
      <tr>
          <th>Filename</th>
          <th>Size</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let file of files$ | async">
          <td class="left"><a href="data/files/{{file.name}}" target="_blank">{{file.name}}</a></td>
          <td>{{file.size | fileSize}}</td>
          <td>
              <clr-icon shape="copy-to-clipboard" size="20" ngxClipboard [cbContent]="'[' + file.name + '](data/files/' + file.name + ')'"></clr-icon>
              &nbsp;<clr-icon shape="trash" size="20" (click)="fileToDelete=file" *ngIf="!file.loading"></clr-icon>
              &nbsp;<span class="spinner spinner-inline" *ngIf="file.loading"></span></td>
      </tr>
  </tbody>
</table>

<input type="file" (change)="onFilesAdded()" multiple [hidden]="true" #addFiles>

<div class="modal" *ngIf="fileToDelete">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-body">
                <p>Really delete {{fileToDelete.name}}?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" (click)="fileToDelete=null">Cancel</button>
                <button class="btn btn-danger" type="button" (click)="delete()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop" aria-hidden="true" *ngIf="fileToDelete"></div>