@if (loading) {
  <span class="spinner spinner-inline">Loading...</span>
}
<app-alert-error [error]="error"></app-alert-error>
@if (success) {
  <app-alert-sticky message="successfully saved"></app-alert-sticky>
}
@if (page) {
  <div class="edit">
    <div>
      <div class="top">
        <button type="button" class="selectedIcon btn btn-icon" (click)="selectIconDialog=true"><cds-icon [attr.shape]="page!.icon" size="24"></cds-icon></button>
        <input type="text" id="basic" placeholder="title for the page" class="clr-input" name="title" [(ngModel)]="page!.title">
        <div class="btn-group btn-primary">
          <button class="btn btn-primary" (click)="save(true)">save</button>
          <div class="btn-group-overflow" [ngClass]="{'open': showMenue}">
            <button class="btn dropdown-toggle btn-icon" (click)="showMenue=!showMenue">
              <cds-icon shape="ellipsis-horizontal"></cds-icon>
            </button>
            <div class="dropdown-menu">
              @if (!success) {
                <button class="btn" (click)="save(false)">save without show</button>
              } @else {
                <div class="btn success">page successfully saved</div>
              }
              @if (page.id) {
                <button class="btn btn-link" [routerLink]="['/page', page.id]">cancel</button>
                <button class="btn" (click)="showDeleteConfirmation=true" style="float:right">delete</button>
              } @else {
                <button class="btn btn-link" [routerLink]="['/']">cancel</button>
              }
            </div>
          </div>
        </div>
      </div>
      <markdown-editor [(content)]="page.content"></markdown-editor>
      <div class="parent">
        <span>Parent Page:</span>
        <select name="options" [(ngModel)]="page.parent">
          <option [ngValue]="null">no parent</option>
          @for (page of flattenPages(); track page) {
            <option [ngValue]="page" [innerHtml]="flattenPageTitle(page)"></option>
          }
        </select>
      </div>
    </div>
    <button class="btn btn-primary" (click)="save(true)">save</button>
    <button class="btn" (click)="save(false)" [ngClass]="{'btn-success-outline': success, 'btn-outline': !success}">save without show</button>
    @if (page.id) {
      <button class="btn btn-link" [routerLink]="['/page', page!.id]">cancel</button>
    }
    @if (!page?.id) {
      <button class="btn btn-link" [routerLink]="['/']">cancel</button>
    }
    @if (page.id) {
      <button class="btn btn-danger-outline" (click)="showDeleteConfirmation=true" style="float:right">delete</button>
    }
    @if (success) {
      <div class="success">page successfully saved</div>
    }
  </div>
}


@if (showDeleteConfirmation) {
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-body">
          <p>Really delete this page?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="showDeleteConfirmation=false">Cancel</button>
          <button class="btn btn-danger" type="button" (click)="delete()">Ok</button>
        </div>
      </div>
    </div>
  </div>
}

@if (selectIconDialog) {
  <div class="modal selectIconDialog">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-body">
          @for (icon of iconService.icons; track icon) {
            <cds-icon class="selectIcon" [attr.shape]="icon" size="24" (click)="page!.icon = icon; selectIconDialog=false" [title]="icon"></cds-icon>
          }
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="selectIconDialog=false">Close</button>
        </div>
      </div>
    </div>
  </div>
}

@if (showDeleteConfirmation || selectIconDialog) {
  <div class="modal-backdrop" aria-hidden="true"></div>
}